@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gill";
  src: url("./static/fonts/Gill Sans Light.otf");
  src: url("./static/fonts/Gill Sans Bold.otf");
}

.item-detail {
  height: 500px;
}
.bullet-size {
  width: 0.4rem;
  height: 0.4rem;
}
.detail-shadow {
  box-shadow: 0 0 0 100vmax rgba(190, 190, 190, 0.2);
}
.box-height {
  height: 450px;
  padding-bottom: 0;
}
.accordian-shadow {
  box-shadow: 0px 1px 6px #0000001f;
}
.close-modal {
  animation: close 200ms linear forwards;
}
.swiper-button-disabled {
  display: none;
}

@keyframes close {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  50% {
    transform: translateY(-7px);
    opacity: 0.7;
  }
  100% {
    transform: translateY(-10px);
    opacity: 0;
  }
}
.open-modal {
  animation: openAnim 400ms linear forwards;
}
@keyframes openAnim {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  50% {
    transform: translateY(-7px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

div.swiper-button-prev,
div.swiper-button-next {
  color: white;
}
.enter-animation {
  animation: enter 1s ease-in-out;
}
@keyframes enter {
  0% {
    height: 0;
  }
  50% {
    height: 48vh;
  }
  100% {
    height: 98vh;
  }
}
.exit-animation {
  animation: exit 1s ease-in-out;
}
@keyframes exit {
  0% {
    height: 98vh;
  }
  50% {
    height: 48vh;
  }
  100% {
    height: 0vh;
  }
}

